<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mailService" class="com.dev.services.MailService"/>
    <bean id="prototypeMailService" class="com.dev.services.MailService" scope="prototype"/>
</beans>